@import '@mixins';

.Chats-Contact {
	padding: .6875rem .875rem;
	@include flexVerticalCenter();
	@include fixHeight(4.5rem);
	cursor: pointer;
	transition-property: color, background-color;

	&:hover {
		color: var(--white);
		background-color: var(--blue-350);
	}

	&-Avatar {
		margin-right: .875rem;

		&-Wrapper {
			position: relative;
			line-height: 0;

			&_online {
				&::after {
					content: '';
					position: absolute;
					right: 17px;
					bottom: 1px;
					@include fixSize(.625rem);
					background-color: var(--green-300);
					border-radius: 50%;
				}
			}

		}
	}

	&-Fullname {
		margin-bottom: .375rem;
		@include fixWidth(calc(100% - 2.8rem));
		font-weight: var(--font-weight-bold);
	}

	&-LastMessage {
		@include fixWidth(calc(100% - 2.8rem));
		opacity: .7;
	}
}


