@mixin addFont($nameFontFamily, $typeFont, $pathToWoff, $fw, $fs) {
	@font-face {
		font-family: $nameFontFamily;
		src: local($nameFontFamily), local('#{$nameFontFamily}#{$typeFont}'),
		local('#{$nameFontFamily}-#{$typeFont}'),
		local('#{$nameFontFamily} #{$typeFont}'),
		url('../../../assets/fonts/#{$pathToWoff}.woff2') format('woff2'),
		url('../../../assets/fonts/#{$pathToWoff}.woff') format('woff');
		font-weight: $fw;
		font-style: $fs;
		font-display: swap;
	}
}

@mixin fixWidth($value) {
	max-width: $value;
	min-width: $value;
}

@mixin fixHeight($value) {
	max-height: $value;
	min-height: $value;
}

@mixin fixSize($value) {
	@include fixWidth($value);
	@include fixHeight($value);
}

@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexVerticalCenter() {
	display: flex;
	align-items: center;
}

@mixin flexHorizontalCenter() {
	display: flex;
	justify-content: center;
}

@mixin ellipse($clamp) {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: $clamp;
	-webkit-box-lines: single;
	-webkit-box-orient: vertical;
}
