* {
	// colors
	--white: #fff;
	--gray-100: #e7ecf1;
	--gray-200: #ccd1d6;
	--slate-300: #7d98b3;
	--slate-500: #798ca5;
	--slate-510: #6D84A0;
	--blue-300: #58aafc;
	--blue-350: #4290DE;
	--blue-400: #2680d9;
	--blue-410: #267fdb;
	--blue-420: #2580db;
	--blue-500: #1a69b8;
	--blue-700: #114475;
	--green-300: #71cd50;
	--green-310: #01bf93;
	--green-400: #27AE60;
	--red-300: #f27c6e;
	--red-500: #f53648;
	--transparent: transparent;

	// fonts
	--font-family-default: 'Roboto', Verdana, Helvetica, Arial, sans-serif;
	--font-size-default: .875rem;
	--line-height-default: 1.25rem;
	--letter-spacing-default: .025rem;
	--color-default: var(--blue-700);
	--font-weight-regular: 400;
	--font-weight-bold: 700;

	// dimensions
	--toolbar-width: 5rem;
	--toolbar-full-width: 15.4375rem;
	--chats-search-height: 4.375rem;

	// transition
	--transition-duration-default: .3s;
	--transition-timing-function-default: ease;

	// shadows
	--chatlist-right-shadow: 0 1px 2px rgba(97, 97, 97, 0.2), 0 2px 4px rgba(97, 97, 97, 0.2);
	--nessanger-header-bottom-shadow: 1px 0 2px rgba(97, 97, 97, 0.2), 1px 0 4px rgba(97, 97, 97, 0.2);

	// border
	--border-radius-default: 0.9375rem;
}
