@import "@mixins";

.Chats {
	margin-right: 1px;
	box-shadow: var(--chatlist-right-shadow);
	background-color: var(--white);
	@include fixWidth(21.5625rem);

	&-List {
		display: flex;
		flex-direction: column;
	}

	&-NotFound {
		@include flexCenter();
		padding: 1rem;
		text-align: center;
		flex-grow: 1;
		opacity: .7;
	}
}
